{% extends 'base.html' %}

{% block titulo %}Minha Clínica 2024 - Relatório Pacientes{% endblock %}
{% block conteudo %}

        <article>
            <h1>Relatório de Pacientes Por Convênio</h1>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Convênio</th>
                        <th>Nome</th>
                        <th>Idade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for convenio in ppc %}
                    {% for paciente in convenio.pacientes %}
                    <tr>
                         <td>{{ convenio.convenio }}</td>
                         <td>{{ paciente.nome }}</td>
                         <td>{{ paciente.idade }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Não existem pacientes cadastrados</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            <p>
                <a href="{% url 'pdf_pacientes_por_convenio' %}" role="button" target="_blank">
                    Gerar PDF
                </a>                
            </p>
        </article>
{% endblock %}