<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <title>Relatório de Pacientes</title>
</head>

<body>
    <body>
        <main class="container-fluid">
            <article>
                <h1>Relatório de Pacientes</h1>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th>Telefone</th>
                            <th>Cidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in pacientes %}
                        <tr>
                            <td>{{p.nome}}</td>
                            <td>{{p.idade}}</td>
                            <td>{{p.telefone}}</td>
                            <td>{{p.cidade}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Não existe clientes cadastrados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <article>
                        <a href="{% url 'pdf_pacientes' %}" role="button" target="_blank">Gerar PFD</a>
                    </article>
            </article>
        </main>
    </body>
</body>
</html>